@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body {
  font-family: 'Open Sans';
  
}
button {
  cursor: pointer;
  transition-duration: 250ms;
  transition-delay: 50ms;
  &:hover {
    transform: scale(1.05);
  }
}
*::selection {
  background-color: $secondary-accent-color;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width:1200px) {
      width: 768px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media screen and (max-width:767px) {
      width: 480px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media screen and (max-width:479px) {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
}

.circle__box{
  overflow: hidden;
}

.scroll__link{
  position: fixed;
  bottom: 30px;
  right: 30px;
  all: unset;
  cursor: n-resize;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
}
