<section class="blog" data-aos="fade-down" data-aos-duration="1000">
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <p class="blog__first-title" data-aos="fade-down" data-aos-duration="1000">Our Blog</p>
    <h2 class="blog__second-title" data-aos="fade-down" data-aos-duration="1000">
      Value proposition accelerator product management venture
    </h2>
    <ul class="blog__list" data-aos="fade-down" data-aos-duration="1000">
      <li class="blog__item">
        <img src="./images/blokimg1.png" alt="blokimg1" />
        <h2 class="blog-card__title">
          Category
          <span class="blog-card__span">November 22, 2021</span>
        </h2>
        <p class="blog-card__description">
          Pitch termsheet backing validation focus release.
        </p>
        <div class="blog__block2">
        <img src="./images/ChandlerBing.png" alt="ChandlerBing" />
        <p class="blog-card__name">Chandler Bing</p>
        </div>
      </li>
      <li>
        <img src="./images/blokimg2.png" alt="blokimg2" />
        <h2 class="blog-card__title">
          Category
          <span class="blog-card__span">November 22, 2021</span>
        </h2>
        <p class="blog-card__description">
          Seed round direct mailing non-disclosure agreement graphical user
          interface rockstar..
        </p>
        <div class="blog__block">
        <img src="./images/Rachel Green.png" alt="Rachel" />
        <p class="blog-card__name">Rachel Green</p>
        </div>
      </li>
      <li>
        <img src="./images/blokimg3.png" alt="blokimg3" />
        <h2 class="blog-card__title">
          Category
          <span class="blog-card__span">November 22, 2021</span>
        </h2>
        <p class="blog-card__description">
          Beta prototype sales iPad gen-z marketing network effects value
          proposition
        </p>
        <div class="blog__block">
        <img src="./images/MonicaGeller.png" alt="MonicaGeller" />
        <p class="blog-card__name">Monica Geller</p>
        </div>
      </li>
    </ul>
    <button data-aos="fade-down" data-aos-duration="1000" type="button" class="blog__btn">Load more</button>
  </div>
</section>
