<section class="clients">
  <div class="container">
    <img width="100%" src="./images/companiRoom.png" alt="" />
    <div class="clients__box">
      <h2 class="clients__title">
        We clients our customers with the best, and help them keep up-and stay
        open.
      </h2>
      <ul class="clients__list">
        <li class="clients__item">
          <span class="clients__span"
            >We clients our customers with the best?</span
          >
          <div class="clients__tick">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 6L9 17L4 12"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </li>
        <li class="clients__item">
          <span class="clients__span"
            >Android research & development rockstar?
          </span>
          <div class="clients__tick">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 6L9 17L4 12"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
