<section class="connect">
  <div class="container">
    <div class="connect-img-card1-block">
      <img
        class="connect__img"
        height="506"
        src="./images/connect1.png"
        alt=""
      />
      <div class="connect__box">
        <h2 class="connect__title">
          We connect our customers with the best, and help them keep up-and stay
          open.
        </h2>
        <ul class="connect__list">
          <li class="connect__item">
            <div class="connect__cicrcle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M20 6L9 17L4 12"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <!-- <input type="checkbox" id="cbx2" style="display: none;">
    <label for="cbx2" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                 <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                   <polyline points="1 9 7 14 15 4"></polyline>
                              </svg>
                        </label>
                    </input> -->
            <h4 class="connect__name">
              Advisor success customer launch party.
            </h4>
          </li>
          <li class="connect__item">
            <div class="connect__cicrcle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M20 6L9 17L4 12"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <!-- <input type="checkbox" id="cbx2" style="display: none;">
    <label for="cbx2" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                 <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                   <polyline points="1 9 7 14 15 4"></polyline>
                              </svg>
                        </label>
                    </input> -->
            <h4 class="connect__name">Business-to-consumer long tail.</h4>
          </li>
          <li class="connect__item">
            <div class="connect__cicrcle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M20 6L9 17L4 12"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <!-- <input type="checkbox" id="cbx2" style="display: none;">
    <label for="cbx2" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                 <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                   <polyline points="1 9 7 14 15 4"></polyline>
                              </svg>
                        </label>
                    </input> -->
            <h4 class="connect__name">Business-to-consumer long tail.</h4>
          </li>
        </ul>
        <button type="button" class="connect__button">Start now</button>
      </div>
      <div class="connect__label">
        <img src="./images/Group 208.jpg" alt="" />
        <div class="connect__label-box">
          <h3 class="connect__diagram-title">30%</h3>
          <p class="connect__diagram-descripiton">More income in June</p>
        </div>
      </div>
    </div>
    <div class="connect__parent2">
      <div class="connect__box2">
        <h2 class="connect__title">
          We connect our customers with the best, and help them keep up-and stay
          open.
        </h2>
        <ul class="advantages">
          <li class="advantages__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
            >
              <path
                d="M22.24 14.24C23.3658 13.1142 23.9983 11.5872 23.9983 9.99501C23.9983 8.40282 23.3658 6.87585 22.24 5.75001C21.1142 4.62416 19.5872 3.99167 17.995 3.99167C16.4028 3.99167 14.8758 4.62416 13.75 5.75001L7 12.5V21H15.5L22.24 14.24Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18 10L4 24"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19.5 17H11"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="advantages__text-first">
              We connect our customers with the best.
            </p>
          </li>
          <li class="advantages__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
            >
              <g clip-path="url(#clip0_0_737)">
                <path
                  d="M2.77502 13.6543C2.77502 13.6543 6.77502 5.6543 13.775 5.6543C20.775 5.6543 24.775 13.6543 24.775 13.6543C24.775 13.6543 20.775 21.6543 13.775 21.6543C6.77502 21.6543 2.77502 13.6543 2.77502 13.6543Z"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.775 16.6543C15.4319 16.6543 16.775 15.3112 16.775 13.6543C16.775 11.9974 15.4319 10.6543 13.775 10.6543C12.1182 10.6543 10.775 11.9974 10.775 13.6543C10.775 15.3112 12.1182 16.6543 13.775 16.6543Z"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_0_737">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                    transform="translate(1.77502 1.6543)"
                  />
                </clipPath>
              </defs>
            </svg>
            <p class="advantages__text">
              Advisor success customer launch party.
            </p>
          </li>
          <li class="advantages__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_0_744)">
                <path
                  d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 1V3"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 21V23"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4.21997 4.22L5.63997 5.64"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.36 18.36L19.78 19.78"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1 12H3"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21 12H23"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4.21997 19.78L5.63997 18.36"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.36 5.64L19.78 4.22"
                  stroke="#0A2640"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_0_744">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <p class="advantages__text">Business-to-consumer long tail.</p>
          </li>
        </ul>
      </div>

      <div class="connect-img-card2-block">
        <img src="./images/connectwoomen.png" alt="phone-woman" />
        <div class="connect__label connect-card2">
          <img
            src="./images/circrle-graph.png"
            alt="graph"
            class="card2__img"
          />
          <ul class="card2__list">
            <li class="card2__item">
              <p class="card2__text">35% - Agile Development</p>
            </li>
            <li class="card2__item">
              <p class="card2__text">30% - Investor bandwidth</p>
            </li>
            <li class="card2__item">
              <p class="card2__text">35% - A/B testing</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
