<section class="connect">
    <div class="container">
        <img height="506" src="./images/connect1.png" alt="">
        <div class="connect__box">
            <h2 class="connect__title">We connect our customers with the best, and help them keep up-and stay open.</h2>
            <ul class="connect__list">
                <li class="connect__item">
                    <!-- <input type="checkbox" id="cbx2" style="display: none;">
    <label for="cbx2" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                 <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                   <polyline points="1 9 7 14 15 4"></polyline>
                              </svg>
                        </label>
                    </input> -->
                    <h4 class="connect__name">Advisor success customer launch party.</h4>
                </li>
                <li class="connect__item">
                    <!-- <input type="checkbox" id="cbx2" style="display: none;">
    <label for="cbx2" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                 <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                   <polyline points="1 9 7 14 15 4"></polyline>
                              </svg>
                        </label>
                    </input> -->
                    <h4 class="connect__name">Business-to-consumer long tail.</h4>
                </li>
                <li class="connect__item">
                    <!-- <input type="checkbox" id="cbx2" style="display: none;">
    <label for="cbx2" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
                                 <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                                   <polyline points="1 9 7 14 15 4"></polyline>
                              </svg>
                        </label>
                    </input> -->
                    <h4 class="connect__name">Business-to-consumer long tail.</h4>
                </li>
            </ul>
            <button type="button" class="connect__button">Start now</button>
        </div>
        <div class="connect__label">
            <img src="./images/Group 208.jpg" alt="">
            <div class="connect__label-box">
                <h3 class="connect__diagram-title">30%</h3>
                <p class="connect__diagram-descripiton">More income in June</p>
            </div>
        </div>
    </div>
</section>