<section id="contact" class="contact" data-aos="fade-down" data-aos-duration="1000">
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
     <div data-aos="fade-down" data-aos-duration="1000" class="cicrcle-2"></div>
    <div data-aos="fade-down" data-aos-duration="1000" class="contact-parent">
     
      <h2 class="contact__title">
        An enterprise template to ramp up your company website
      </h2>

      <div class="contact-block">
        <input
          type="text"
          class="contact__input"
          placeholder="Your email address"
        />
        <button class="contact__btn" type="submit">Start now</button>
      </div>
    </div>
  </div>
</section>
