<footer class="footer">
    <div class="container">
<!-- <ul  >
    <li> -->
        <div class="footer__block" >
            <img class="footer__logo" src="./images/hero__list1.jpg" alt="picture">
            <h2 class="footer__text-party">
                Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.
            </h2>
            <p class="footer__description" >All rights reserved.</p>
        </div>
    <!-- </li>
    <li> -->
       <div>
        <ul class="footer__list">
            <li class="footer-list__blok" >
                <h4 class="blok__logo">Landings</h4>
                <ul class="blok__list">
                    <li class="blok__list-text" >Home</li>
                    <li class="blok__list-text" >Products</li>
                    <li class="blok__list-text" >Services</li>
                </ul>
            </li>

            <li class="footer-list__blok">
                <h4 class="blok__logo">Company</h4>
                <ul class="blok__list">
                    <li class="blok__list-text" >Home</li>
                    <li class="blok__list-text" >Careers</li>
                    <li class="blok__list-text" >Services</li>
                </ul>
            </li>

            <li class="footer-list__blok">
                <h4 class="blok__logo">Resources</h4>
                <ul class="blok__list">
                    <li class="blok__list-text" >Blog</li>
                    <li class="blok__list-text" >Products</li>
                    <li class="blok__list-text" >Services</li>
                </ul>
            </li>
        </ul>
    </div>
</footer>