<div class="container">
    <h2 class="handshake__logo">Our services</h2>
    <h3 class="handshake__text">Handshake infographic mass market crowdfunding iteration.</h3>
    <ul class="handshake__list">
        <li class="handshake__card">
            <h3 class="handshake__card-name">Cool feature title</h3>
            <p class="handshake__card-discription">Explore page</a>
        </li>

        <li class="handshake__card">
            <h3 class="handshake__card-name">Even cooler feature</h3>
            <p class="handshake__card-discription">Explore page</a>
        </li>

        <li class="handshake__card">
            <h3 class="handshake__card-name">Cool feature title</h3>
            <p class="handshake__card-discription">Explore page</a>
        </li>
    </ul>
    </div>