<div class="handshake__container">
    <div class="container">

    
    <h2 class="handshake__logo">Our services</h2>
    <h3 class="handshake__text">Handshake infographic mass market crowdfunding iteration.</h3>
    <ul class="handshake__list">
        <li class="handshake__card">
            <img src="./images/imgHandshake1.png" alt="picture" width="300" height="354">
            <h3 class="handshake__card-name">Cool feature title</h3>
            <p class="handshake__card-discription">Explore page</a>
                <div class="underline" ></div>
            <!-- <svg class="handshake__arrow">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg> -->
        </li>

        <li class="handshake__card">
            <img src="./images/imgHandshake2.png" alt="picture" width="300" height="354">
            <h3 class="handshake__card-name">Even cooler feature</h3>
            <p class="handshake__card-discription">Explore page</a>
                <div class="underline" ></div>
        </li>

        <li class="handshake__card">
            <img src="./images/imgHandshake3.png" alt="picture" width="300" height="354">
            <h3 class="handshake__card-name">Cool feature title</h3>
            <p class="handshake__card-discription">Explore page</a>
                <div class="underline" ></div>
        </li>
    </ul>
</div>
    </div>