<header class="header">
  <div class="container">
    <div class="header-block">
      <img src="/" alt="logotype" />
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="/" class="header__link">Product</a>
          </li>
          <li class="header__item">
            <a href="/" class="header__link">Services</a>
          </li>
          <li class="header__item">
            <a href="/" class="header__link">About</a>
          </li>
          <li class="header__item">
            <button type="button" class="header__btn">Log In</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>