<header id="header" class="header">
  <div class="container">
    <div class="header-block">
      <img src="./images/hero__list1.jpg" alt="logotype" class="header__img"/>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="./partials/page-not.html" class="header__link">Product</a>
          </li>
          <li class="header__item">
            <a href="./partials/page-not.html" class="header__link">Services</a>
          </li>
          <li class="header__item">
            <a href="./partials/page-not.html" class="header__link">About</a>
          </li>
          <li class="header__item">
            <button type="button" class="header__btn">Log In</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
