<section class="hero">
  <div class="container">
    <div class="hero__box">
      <h1 class="hero__title">
        Save time by building fast with Boldo Template
      </h1>
      <p class="hero__description">
        Funding handshake buyer business-to-business metrics iPad partnership.
        First mover advantage innovator success deployment non-disclosure.
      </p>
      <ul class="hero__list">
        <li class="hero__item">
            <button class="hero__button">Buy template</button>
        </li>
        <li class="hero__item">
            <button class="hero__button">Explore</button>
        </li>
      </ul>
    </div>
    <img src="./images/HeroGraphics.jpg" alt="HeroGraphics">
    <ul class="hero__svg">
        <li class="hero__svg__item">
            <img src="./images/hero__list1.jpg" alt="hero__list1">
        </li>
        <li class="hero__svg__item">
            <img src="./images/hero__list2.jpg" alt="hero__list1">
        </li>
        <li class="hero__svg__item">
            <img src="./images/hero__list1.jpg" alt="hero__list1">
        </li>
        <li class="hero__svg__item">
            <img src="./images/hero__list2.jpg" alt="hero__list1">
        </li>
        <li class="hero__svg__item">
            <img src="./images/hero__list1.jpg" alt="hero__list1">
        </li>
        <li class="hero__svg__item">
            <img src="./images/hero__list2.jpg" alt="hero__list1">
        </li>
    </ul>
  </div>
</section>
