<section class="reviers"data-aos="fade-down" data-aos-duration="1000">
  <div class="container">
    <div class="test">
    <h2 class="reviers__title" data-aos="fade-down" data-aos-duration="1000">
      An enterprise template to ramp up your company website
    </h2>
    <ul class="reviers-buttons__list" data-aos="fade-down" data-aos-duration="1000">
      <li class="reviers-buttons__item">
        <button class="reviers__button">
          <img src="./images/up-arrow.png" alt="" class="reviers-buttons__img"/>
        </button>
      </li>
      <li class="reviers-buttons__item">
        <button class="reviers__button">
          <img src="./images/up-arrow.png" alt="" class="reviers-buttons__img2"/>
        </button>
      </li>
    </ul>
    </div>
    <ul class="reviers__list" data-aos="fade-down" data-aos-duration="1000">
      <li class="reviers__item">
        <p class="reviers-card__text">
          “Buyer buzz partner network disruptive non-disclosure agreement
          business”
        </p>
        <div class="reviers__block">
          <div class="reviers__img">
            <img src="./images/AlbusDumbledore.png" alt="AlbusDumbledore" />
          </div>
          <div class="reviers__block2">
            <p class="reviers__name">Albus Dumbledore</p>
            <p class="reviers-name__description">Manager @ Howarts</p>
          </div>
        </div>
      </li>
      <li class="reviers__item">
        <p class="reviers-card__text2">
          “Learning curve infrastructure value proposition advisor strategy user
          experience hypotheses investor.”
        </p>
        <div class="reviers__block">
          <div class="reviers__img">
            <img src="./images/SeverusSnape.png" alt="SeverusSnape" />
          </div>
          <div class="reviers__block2">
            <p class="reviers__name">Severus Snape</p>
            <p class="reviers-name__description">Manager @ Slytherin</p>
          </div>
        </div>
      </li>
      <li class="reviers__item">
        <p class="reviers-card__text">
          “Release facebook responsive web design business model canvas seed
          money monetization.”
        </p>
        <div class="reviers__block">
          <div class="reviers__img">
            <img src="./images/HarryPotter.png" alt="HarryPotter" />
          </div>
          <div class="reviers__block2">
            <p class="reviers__name">Harry Potter</p>
            <p class="reviers-name__description">Team Leader @ Gryffindor</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
