/* Variation of work by @mrhyddenn for Radios */

.check {
  cursor: pointer;
  position: relative;
  margin-right: auto;
  width: 36px;
  height: 36px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #000000);
}

#cbx2:checked + .check svg {
  stroke: var(--accent-color, #000000);
}

#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.connect {
  // Временно нижний падинг(120).
  padding-bottom: 285px;
  padding-top: 44px;
}

.connect .container {
  // display: flex;
  position: relative;
  @media screen and (max-width: 1200px) {
    display: block;
  }
}

.connect__box {
  display: block;
  margin-left: auto;
  padding-top: 66px;

  width: 493px;
  @media screen and (max-width: 1200px) {
    display: block;
    margin-left: 0;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.connect__title {
  @extend %connect;
}

.connect__list {
  margin-top: 40px;
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

.connect__item {
  margin-top: 24px;
  display: flex;
  align-items: center;
  // &::before {
  //   content: '';
  //   width: 36px;
  //   height: 36px;
  //   border-radius: 50%;
  //   background-color: $accent-color;
  //   margin-right: 27px;
  //   background-image: url(../images/symbol-defs.svg#icon-checkmark);
  // }
  @media screen and (max-width: 1200px) {
    text-align: center;
    display: flex;
  }
}
.connect__cicrcle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $accent-color;
  margin-right: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:1200px) {
    margin-left: auto;
  }
  // background-image: linear-gradient(to top, $accent-color, $accent-color),
  // background-image: url(../images/symbol-defs.svg#icon-checkmark);
}

.connect__name {
  text-align: left;
  @include small-title;
  color: #000000;
  @media screen and (max-width: 1200px) {
    margin-right: auto;
  }
}

.connect__button {
  margin-top: 56px;
  @include btn;
  border: 2px solid #0a2640;
  border-radius: 56px;
  @media screen and (max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.connect__label {
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 251px;
  height: 388px;
  position: absolute;
  top: 222px;
  left: 186px;
  padding: 40px;
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    1000ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.connect__label:hover {
  transform: rotate(360deg);
}

.connect__label-box {
  margin-top: 19px;
}
.connect__diagram-title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.connect__diagram-descripiton {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.connect__img {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.connect__svg {
  fill: red;
  display: block;
}
.connect-img-card1-block {
  display: flex;
  // align-items: flex-end;
  margin-bottom: 185px;
}
.connect-img-card2-block {
  position: relative;
}
.connect__card2 {
  position: absolute;
  top: 0;
}
.connect__parent2 {
  display: flex;
}

.connect__box2 {
  width: 493px;
  margin-right: auto;
  padding-top: 106px;
  @media screen and (max-width:1200px) {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.connect__title{
  @media screen and (max-width:1200px) {
    text-align: center;
  }
}

.advantages {
  margin-top: 64px;
  @media screen and (max-width:1200px) {
    display: block;
    justify-content: center;
  }
}

.advantages__item:first-child {
  background: #0a2640;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 500px;
  height: 68px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  @media screen and (max-width:1200px) {
    width: 100%;
  }
}

.advantages__item {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 500px;
  height: 68px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 24px;
  @media screen and (max-width:1200px) {
    width: 100%;
  }
}

.advantages__text-first {
  @include small-title;
  margin-left: 12px;
}

.advantages__text {
  @include small-title;
  color: black;
  margin-left: 12px;
}

.card2__list {
  margin-top: 22px;
}
.card2__item {
  margin-bottom: 11px;
  position: relative;
  // display: flex;
  &::before {
    content: '';
    border-radius: 50%;
    display: flex;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    background-color: #0DBBFC;
    position: absolute;
    left: -16px;
    top: 44%;
  }
}
.card2__item:nth-child(2)::before {
  background-color: #69E6A6;
}
.card2__item:last-child::before {
   background-color: #C4C4C4;
}

.card2__text {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $secondary-color;
}
.connect-card2 {
  left: 48px;
  top: 304px;
  padding-top: 47.5px;
  padding-right: 59px;
  padding-bottom: 48.5px;
  padding-left: 59px;
  width: 291px;
}
