.handshake__container{
    background-color: $accent-color;
}

.handshake__logo{
color: $main-text;
text-align: center;
padding-top: 29px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
}

.handshake__text{
padding-top: 12px;
width: 842px;
margin-left: auto;
margin-right: auto;
color: $main-text;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 72px;
text-align: center;
flex: none;
order: 1;
flex-grow: 0;
}

.handshake__list{
padding-top: 47px;
padding-bottom: 175px;
justify-content: center;
margin-left: auto;
margin-right: auto;
display: flex;
}

.handshake__card{
    width: 300px;
    height: 490px;
    margin-left: 99px;
}

.handshake__card:first-child{
    margin-left: 0;
}

.handshake__card-name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 28px;
    color: $main-text;
}

.handshake__card-discription{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 36px;
color: $main-text;
border-bottom: white;
}

.underline{
    margin-top: 8px;
    width: 164px;
    height: 1px;    
    background: #FFFFFF;
}